body,
h1 {
  margin: 0;
}

/*
	3. body에 백그라운드 이미지를 붙여주세요.
	서체는 arial, 서체 크기는 0.9em

	4. 버튼요소를 꾸며주세요.

	5. 버튼Hover시를 꾸며주세요.

	6. 팝업창을 만들어주세요.

	7. .window.open일때의 css를 작성하세요.
*/
body {
	background-image: url('bg.png');
	font-family: arial;
	font-size: 0.9em;
}
.modal {
width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: white;
  font-size: 1.5em;
  font-weight: bold;
  color: rgba(0,0,0,0.1); /* ✅ 글자만 흐리게 */
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  position: absolute;
  left: 300px;
  top: 350px;
}
.modal:hover {
  background-color: black;
  color: white;
  cursor: pointer;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 2px;

}
  

/* 팝업 */
.modal-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -200%); /* 처음은 위로 숨김 */
  width: 500px;
  background: #fff;
  border: 3px solid #000;
  border-radius: 5px;
  text-align: center;
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  z-index: 1000;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/* 열렸을 때 */
.modal-popup.open {
  transform: translate(-50%, -50%);
  opacity: 1;
}

/* 제목 */
.modal-popup h1 {
  margin: 10px 0;
  font-size: 1.5em;
  font-weight: bold;
  color: #222;
}

/* 이미지 */
.modal-popup img {
  width: 100%;
  height: auto;
  display: block;
}

/* 버튼 영역 */

.modal-buttons button {
  padding: 10px 20px;
  border: 1px solid orange;
  background: transparent;
  color: orange;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.modal-buttons button:hover {
  background: orange;
  color: black;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}