/*
    1. 배경색 #333 으로 만들어주세요.

	2. face-menu 버튼 요소들 정렬해주세요.
	각 버튼 크기 width,heihgt 100px

	3. 각 버튼 요소를 꾸며주세요.

	4. 각 버튼에 마우스오버 하면
	배경색 #999 색상이 되고 밑으로 살짝 움직이게 해주세요.

	5. face를 만들어보세요.
	width/height 256px

	6. .face.smile 안에 CSS 속성을 작성해주세요.

	7. .face.sun 안에 CSS 속성을 작성해주세요.

	8. .face.angry 안에 CSS 속성을 작성해주세요.
*/

body {
	background-color: #333;
}

.face-menu {
	text-align: center;
	margin-top: 30px;
}

.face-menu img{ 
	width: 100px;
	height: 100px;
	border:10px solid black;
	border-radius: 100%;
	margin: 5px;
	cursor: pointer;
	position: relative;
	top:0;
	transition: all 0.4s;
}

.face-menu img:hover {
	background-color: #999;
	top:5px;
}

.face {
	width:256px;
	height: 256px;
	background-color: #fff;
	background-image: url('images/smile.png');
	border-radius: 100%;

	/* 센터링 1 */
	position: absolute;
	/* left:50%;
	top:50%; */
	/* margin-left: -128px;
	margin-top: -128px; */
	/* transform: translateX(-50%) translateY(-50%); */
	/* transform: translate(-50%, -50%); */

	/* 센터링 2 */
	/* left: 0;
	right: 0;
	top:0;
	bottom:0; */
	inset:0;
	margin: auto;

	transform-origin: left top;

	transition: transform 1s;
}

.face.smile {
	background-image: url('images/smile.png');
	background-color: yellow;
	transform: scale(2) rotate(1080deg);
}

.face.angry {
	background-image: url('images/angry.png');
	background-color: red;
	transform: scale(0.5) rotate(180deg);
}

.face.sun {
	background-image: url('images/sun.png');
	background-color: skyblue;
	transform: scale(1) rotate(-720deg);
}